services:
  dashboard:
    build: dashboard
    restart: always
    ports:
      - "8000:80"
    environment:
      - MINIO_ENDPOINT=localhost # TODO update this to external hostname
      - MINIO_PORT=9000
      - MINIO_ACCESS_KEY=shoutoutdevuser
      - MINIO_SECRET_KEY=shoutoutdevuser
      - MINIO_SSL_ENABLED=false # TODO toggle if your endpoint is supporting valid https
      - RABBITMQ_URL=amqp://rabbit:rabbit@rabbitmq
      - DATABASE_URL=postgresql://admin:admin@postgres:5432/postgres?schema=public
    depends_on:
      - postgres
      - minio
      - rabbitmq

  worker:
    build:
      context: worker
      args:
        - HUGGINGFACE_APIKEY=not_a_real_api_key # TODO replace with a real one
        - WHISPER_MODEL=tiny # TODO GPU: use `large-v3` for more precise results
    restart: always
    environment:
      - DATABASE_HOST=postgres
      - DATABASE_NAME=postgres
      - DATABASE_USER=admin
      - DATABASE_PASSWORD=admin
      - DATABASE_PORT=5432
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=rabbit
      - RABBITMQ_PASSWORD=rabbit
      - MINIO_SECRET_KEY=shoutoutdevuser
      - MINIO_ACCESS_KEY=shoutoutdevuser
      - MINIO_URL=http://minio:9000/
      - LOG_LEVEL=INFO
    depends_on:
      - postgres
      - minio
      - rabbitmq
    deploy:
      mode: replicated
      replicas: 2
      # TODO GPU: If you haven't installed the nividia-container-toolkit delete the following part:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - shoutout-db-data:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio
    restart: always
    environment:
      - MINIO_ROOT_USER=shoutoutdevuser
      - MINIO_ROOT_PASSWORD=shoutoutdevuser
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"

  rabbitmq:
    image: rabbitmq:management
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=rabbit
      - RABBITMQ_DEFAULT_PASS=rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./conf/advanced.config:/etc/rabbitmq/advanced.config:ro

  job-cleaner:
    build: sanity_check
    environment:
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: postgres
      DB_HOST: postgres
      DB_PORT: 5432
    depends_on:
      - postgres
  
  keycloak-postgres:
    image: postgres:17
    volumes:
      - "keycloak-postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: "keycloak"
      POSTGRES_USER: "keycloak"
      POSTGRES_PASSWORD: "password"

  keycloak:
    image: quay.io/keycloak/keycloak
    environment:
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://keycloak-postgres:5432/keycloak"
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "password"
      KC_HOSTNAME: "localhost"
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_LOG_LEVEL: "info"
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "admin"
    command: start-dev --import-realm
    ports:
      - "8090:8080"
    depends_on:
      - keycloak-postgres
    volumes:
      - ./.keycloak-config:/opt/keycloak/data/import

volumes:
  shoutout-db-data:
  minio_data:
  keycloak-postgres-data:
